@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #331436;
    color: white;
    padding: 10px 20px;
    font-size: 28px; 
    font-weight: 400;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
  font-size: 28px;
  font: optional;
  font-family: Roboto, sans-serif;
}
#icon-textHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 50px;
    max-height: 50px;
}

.btn {
    width: 240px;
    height: 48px;
    background-color: #CB4F57;
    color: #FCF4B6;
    font-family: 'Roboto', sans-serif; /* Correção */
    font-size: 16px; /* Adicionado tamanho padrão */
    border-radius: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#capa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 496px;
    width: auto;
    background-color: #7A1745;
    padding: 170px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #331436;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 28px; /* Adicionado px */
    font-style: normal;
    height: 220px;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
}
#footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.icon-social {
  display: flex;
  margin-left: 229px;
  min-height: 34px;
  min-width: 34px;
}

.txt-company{
  font-size: 20px;
  margin-left: 20px;
}
