/* home-page */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px 0px;
isolation: isolate;

position: relative;
width: 1440px;
height: 2528px;

background: #FFFFFF;


.header{

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 0px;

background: #331436;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

/* logo 1 */

width: 50px;
height: 50px;

background: url(logo);
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 1070px;
height: 36px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* navigation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

width: 240px;
height: 48px;

background: #331436;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 240px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #CB4F57;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 40px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FCF4B6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* main-section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 170px;
gap: 60px;

width: 1440px;
height: 496px;

background: #7A1745;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 500px;
height: 216px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* title */

width: 520px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* description */

width: 520px;
height: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 240px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #CB4F57;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 82px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FCF4B6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 540px;
height: 436px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* image 1 */

width: 540px;
height: 437px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* section-2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 170px;
gap: 60px;
isolation: isolate;

width: 1440px;
height: 792px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 60px;

width: 1100px;
height: 192px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1100px;
height: 192px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* title */

width: 1100px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* description */

width: 1100px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #020000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 240px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #331436;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 82px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

width: 1100px;
height: 420px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1100px;
height: 420px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 340px;
height: 420px;

border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 340px;
height: 340px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image */

width: 340px;
height: 340px;

background: rgba(217, 217, 217, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* image 4 */

position: absolute;
width: 350px;
height: 430px;
left: 0px;
top: -43.54px;

background: url(image.png);


/* text content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 340px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 316px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 316px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 340px;
height: 420px;

border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 340px;
height: 340px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image */

width: 340px;
height: 340px;

background: rgba(217, 217, 217, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* image 3 */

position: absolute;
width: 393px;
height: 340px;
left: -22px;
top: 0.46px;

background: url(image.png);


/* text content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 340px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 316px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 316px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 340px;
height: 420px;

border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 340px;
height: 340px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image */

width: 340px;
height: 340px;

background: rgba(217, 217, 217, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* image 2 */

position: absolute;
width: 396px;
height: 340px;
left: -29px;
top: 0.46px;

background: url(image.png);


/* text content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 340px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 316px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 316px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vector 200 */

position: absolute;
height: 0px;
left: 0px;
right: 0px;
bottom: 0px;

border: 1px solid #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* section-3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 170px;
gap: 60px;

width: 1440px;
height: 552px;

background: rgba(252, 244, 182, 0.5);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1100px;
height: 168px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

width: 520px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* description */

width: 520px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 240px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #331436;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 58px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

width: 1100px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1100px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* item */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 20px;

width: 245px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 13px;
gap: 10px;

width: 100px;
min-width: 100px;
height: 100px;
min-height: 100px;

background: #331436;
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tool

Keywords: settings, spanner
*/

margin: 0 auto;
width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 12.49%;
right: 8.32%;
top: 8.32%;
bottom: 12.49%;

border: 4px solid #FFFFFF;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 245px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 245px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 245px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* item */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 20px;

width: 245px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 21px;
gap: 10px;

width: 100px;
min-width: 100px;
height: 100px;
min-height: 100px;

background: #331436;
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clock

Keywords: time, watch, alarm
*/

margin: 0 auto;
width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #FFFFFF;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 245px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 245px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 245px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* item */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 20px;

width: 245px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 20px;
gap: 10px;

width: 100px;
min-width: 100px;
height: 100px;
min-height: 100px;

background: #331436;
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Message circle

Keywords: comment, chat
*/

margin: 0 auto;
width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 4px solid #FFFFFF;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 245px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 245px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 245px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* item */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 20px;

width: 245px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px 18px;
gap: 10px;

width: 100px;
min-width: 100px;
height: 100px;
min-height: 100px;

background: #331436;
border-radius: 50px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Table */

margin: 0 auto;
width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 4px solid #FFFFFF;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 245px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 245px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 245px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* section-4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 60px 170px;
gap: 60px;
isolation: isolate;

width: 1440px;
height: 388px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;


/* container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 520px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* title */

width: 520px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* description */

width: 520px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 520px;
height: 268px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 80px;

width: 520px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 520px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 520px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* textfield */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 4px;

width: 520px;
height: 36px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* text */

width: 496px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* info */

width: 520px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 80px;

width: 520px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 520px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 520px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #331436;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* textfield */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 4px;

width: 520px;
height: 36px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* text */

width: 496px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 240px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #331436;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 72px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 200 */

position: absolute;
height: 0px;
left: 0px;
right: 0px;
bottom: 0px;

border: 1px solid rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* footer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 60px;
gap: 60px;

width: 1440px;
height: 220px;

background: #331436;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
z-index: 5;


/* Group 12 */

width: 136px;
height: 34.46px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 5 */

position: absolute;
width: 34px;
height: 34px;
left: 229px;
top: 92.77px;



/* Ellipse 1 */

position: absolute;
width: 34px;
height: 34px;
left: 229px;
top: 92.77px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);


/* facebook 1 */

position: absolute;
width: 12px;
height: 12px;
left: 240px;
top: 103.77px;



/* Vector */

position: absolute;
left: 25.78%;
right: 24.22%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group 11 */

position: absolute;
width: 34px;
height: 34px;
left: 279px;
top: 92.77px;



/* Group 6 */

position: absolute;
width: 34px;
height: 34px;
left: 279px;
top: 92.77px;



/* Ellipse 1 */

position: absolute;
width: 34px;
height: 34px;
left: 279px;
top: 92.77px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);


/* instagram 1 */

position: absolute;
width: 13px;
height: 13px;
left: 290px;
top: 102.77px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 22.66%;
right: 22.66%;
top: 22.66%;
bottom: 22.66%;

background: #000000;


/* Vector */

position: absolute;
left: 69.92%;
right: 13.92%;
top: 12.95%;
bottom: 70.89%;

background: #000000;


/* Group 9 */

position: absolute;
width: 34px;
height: 34px;
left: 331px;
top: 93.23px;



/* Group 8 */

position: absolute;
width: 34px;
height: 34px;
left: 331px;
top: 93.23px;



/* Ellipse 1 */

position: absolute;
width: 34px;
height: 34px;
left: 331px;
top: 93.23px;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);


/* linkedin 1 */

position: absolute;
width: 11px;
height: 11px;
left: 342px;
top: 104.23px;



/* Vector */

position: absolute;
left: 35.37%;
right: 0%;
top: 31.56%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 1.65%;
right: 77.62%;
top: 33.24%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 0%;
right: 75.98%;
top: 0%;
bottom: 75.87%;

background: #000000;


/* container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 60px;

width: 786px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

width: 392px;
height: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

width: 124px;
height: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 150px;
height: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
